<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mini-Nav</title>
</head>
<body>
    <header>
        <h1>Mini-Nav</h1>
    </header>

        <nav>
            <button>Home</button>
            <button id="registerBtn">Register</button>
            <button id="logInBtn">Log In</button>
        </nav>
    

    

    <footer>ggmj, 2023</footer>
    <script src="/js/main.js"></script>
</body>


</html>